<h3>Topic details</h3>

<p><%= @topic.content %></p>

<p><%= image_tag(@topic.image.url) if @topic.image.url %></p>

<% unless @topic.user_id == current_user.id %>
 <% if @favorite.present? %>
  <%= link_to 'Remove a topic from the Favorites', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-default' %>
 <% else %>
  <%= link_to 'Add a Topic to the Favorites', favorites_path(topic_id: @topic.id), method: :post, class: 'btn btn-default' %>
 <% end %>
<% end %>