h1 {
 color: #FFFFEE;
 text-align: center;
}

h2, h3 {
 color: #FFFFEE;
 text-align: center;
}

div,p {
 text-align: center;
}

li{
 list-style:none;
}

.container-fluid {
 text-align: center;
 font-size: 2rem;
}

.row {
 background-color: gray;
}
